.container {
    display: grid;
    background-color: brown;
    padding: 10px;
    grid-template-columns: 50px 50px 50px;
    gap: 10px 20px;
    align-content: start;
    justify-content: end;
    height: 500px;

}

.container>div {
    text-align: center;
    color: #fff;
    padding: 10px 0;
    background-color: black;
}